// series-menu
.series-menu {
  margin-bottom: 88px;
  .nav {
    @extend %content-width;
    display: flex;
    justify-content: center;

    li {
      display: flex;
      border: 1px solid #dcdcdc;
      border-bottom: 16px solid transparent;
      &:hover {
        border-bottom: 16px solid $base-primary;
      }
    }
    a {
      font-size: 42px;
      font-weight: 600;
      line-height: normal;
      color: #000;
      padding: 10px 50px 5px;
    }
    img {
      vertical-align: -10%;
    }
  }
  .menu-banner {
    display: flex;
    .img-left {
      margin-right: 24px;
    }
  }
}
// series-content
.series-content {
  margin-bottom: 156px;
  @extend %content-width;
  h2 {
    font-weight: 600;
    text-align: center;
    font-size: 42px;
  }
  .product {
    display: flex;
    flex-wrap: wrap;
    li {
      width: 20%;
      margin: 0 24px 104px 0;
    }
  }
  .title-text {
    text-align: center;
    font-size: 32px;
    margin-bottom: 48px;
  }
  .content-text {
    max-width: 282px;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 500;
    p:last-child {
      color: $base-primary;
    }
  }
  .color {
    display: flex;
    .color-1 {
      display: block;
      width: 24px;
      height: 24px;
      background-color: #5f3e2d;
      border-radius: 4px;
      margin-right: 8px;
    }
    .color-2 {
      display: block;
      width: 24px;
      height: 24px;
      background-color: #b75929;
      border-radius: 4px;
    }
  }
  .pages {
    display: flex;
    justify-content: center;
    li {
      border: 1px solid #000;
      &:last-child {
        background-color: #f2f2f2;
      }
    }
  }
  .number {
    padding: 10px 15px;
    color: #000;
    &:hover {
      color: $base-secondary;
      background-color: #000;
    }
  }
  .text {
    padding: 10px;
    color: #000;
    &:hover {
      color: $base-secondary;
      background-color: #9d9d9d;
    }
  }
}
